@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #2e5bff;
  color: #efefff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #060e20;
}
::-webkit-scrollbar-thumb {
  background: #2d3449;
  border-radius: 10px;
}
